.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

#about {
  background-color: #ffd700;
}

#projects {
  background-color: #e2edff;
}

#footer {
  background-color: #0d63fe;
}

section {
  padding-top: 5rem;
}
